<div class="container mt-4">
    <h2 class="text-center">Update Sub-Category</h2>
    <form [formGroup]="UpdateSubCategoryForm" (ngSubmit)="onSubmit()" class="form">
      <div class="form-group">
        <label for="name" class="label">Sub-Category Name:</label>
        <div class="input-container">
        <input type="text" id="name" class="form-control"  formControlName="SubCategoryName" required>
      </div>
      <div *ngIf="UpdateSubCategoryForm.invalid && UpdateSubCategoryForm.get('SubCategoryName')?.touched && UpdateSubCategoryForm.get('SubCategoryName')?.hasError('required') " class="error-message">
        Subcategory name is required.
      </div>
      <div *ngIf="isDuplicateName" class="error-message">
        SubCategory name already exists. Please choose a different name.
      </div>
      
      </div>
      <div class="form-group">
        <label class="label">Categories:</label>
        <div  *ngFor="let category of categories" class="options" >
          <label>
            <input  type="checkbox"   [formControlName]="category.name" [checked]="isCategorySelected(category.name)" 
            (change)="onCategoryChange($event, category.name)">
            {{ category.name }}
          </label>
        </div>
        <div *ngIf="!isCategorySelectedAtLeastOne && (UpdateSubCategoryForm.touched || selectedCategories.length > 0)" class="error-message">
          At least one category must be selected.
        </div>
      </div>
      
      <div class="text-right">
      <button type="submit" class="btn btn-primary custom-button">Update Sub-Category</button>
    </div>
    </form>
  </div>
  