<div class="container">
    
    <div class="feature">
        <img src="/assets/customer.png" alt="Free Delivery" class="feature-icon">
      <h3 class="h3">{{ userCount }} customers</h3>
      
    </div>
    <div class="feature">
        <img src="/assets/product.png" alt="Free Delivery" class="feature-icon">
      <h3 class="h3">{{ productCount }} products</h3>
      
    </div>
    <div class="feature">
        <img src="/assets/order.png" alt="Free Delivery" class="feature-icon24">
      <h3 class="h24">{{ orderCount}} orders</h3>
     
    </div>

  </div>

