<app-navbar></app-navbar>
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="card-title text-center">Reset your password</h2>
            <form [formGroup]="ResetPasswordForm" class="form" (ngSubmit)="onSubmit()">
              <div class="form-group">
               
                <input
                  type="email"
                  class="form-control custom-input"
                 placeholder="Your Email"
              
                  formControlName="email"
                  autocomplete="off"
                  required
                />
              </div>
              
            
              <button type="submit" class="btn btn-primary btn-block custom-btn" [disabled]="ResetPasswordForm.invalid">Submit</button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  
<app-informations></app-informations>