<div class="container mt-4">
    <h1>Orders List</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Address</th>
          <th>Products</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">
          <td>{{ order.firstName }}</td>
          <td>{{ order.lastName }}</td>
          <td>{{ order.email }}</td>
          <td>{{ order.phoneNumber }}</td>
          <td>{{ order.address }}</td>
          <td>
            <ul>
              <li *ngFor="let product of order.products">
                {{ product.name }}
              </li>
            </ul>
          </td>
          <td class="actions">
            <button (click)="acceptOrder()" class="btn ">
              <i class="fas fa-check accept-icon"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="pagination-wrapper">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </div>
  
