

    <div class="left-container">
  
      <img class="brand-logo" src="/assets/logo.jpg" alt="logo" aria-hidden="true" />
      <div class="navigation-links">
        <ul>
          <li><a (click)="navigate('dashboard')">Dashboard</a></li>
          <li><a (click)="navigate('categories')" >Categories</a></li>
          <li><a (click)="navigate('subCategories')">Subcategories</a></li>
          <li><a (click)="navigate('products')">Products</a></li>
        
          <li><a (click)="navigate('orders')">Orders</a></li>
  
        </ul>
      </div>
   

  
 