.container {
    padding-top: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    
  justify-content: center;
  
 width:1000px
  

  }

  .card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color:  rgba(243, 249, 255);
  }
  
  .card-title {
    margin-bottom: 20px;
    color:rgb(	34, 59, 121)
  }
   .form-group {
  
    margin-bottom: 10px;
  width: 300px;
    align-items: center;
justify-content: center;
margin-left: 80px;


  }


.custom-input {
    border-radius: 20px !important;
    padding: 10px;
}

.custom-btn {
    background-color: rgb(	34, 59, 121); /* Bootstrap primary color */
    color: #fff; /* Text color */
    border: none; /* Remove default border */
    border-radius: 25px; /* Rounded corners */
    padding: 12px; /* Adjust padding */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2); /* Shadow effect */
    margin-left: 160px;
    margin-top: 15px;
    width: 110px;
}

.custom-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: translateY(-2px); /* Lift effect on hover */
}

.custom-btn:disabled {
    background-color: rgb(	34, 59, 121); /* Keep the color same for disabled */
    opacity: 0.5; /* Dim the button */
    cursor: not-allowed; /* Change cursor on disabled */
}
.container{
    margin-top: 100px;
    margin-bottom: 100px;
}
.ml-2 {
    text-decoration: none;
    color: #707172;
    cursor: pointer;
}